@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Poppins:wght@300;400;500;600&display=swap');

:root{

    --fondo:#09090B;
    --card:#111827;
    --azul:#3B82F6;
    --morado:#7C3AED;
    --texto:#F8FAFC;
    --gris:#94A3B8;

}

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Poppins',sans-serif;

    color:var(--texto);

    min-height:100vh;

    background:
    radial-gradient(circle at top,
    #243B55 0%,
    #141E30 40%,
    #09090B 100%);

}

#root{

    min-height:100vh;

}

a{

    text-decoration:none;

}

button{

    font-family:'Poppins',sans-serif;

}

input,
select,
textarea,
button{

    font-size:15px;

}

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-track{

    background:#111827;

}

::-webkit-scrollbar-thumb{

    background:#3B82F6;

    border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

    background:#2563EB;

}

img{

    max-width:100%;

}

@media(max-width:768px){

    body{

        overflow-x:hidden;

    }

}